@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/e8c980eeff.js" crossorigin="anonymous"></script>

<style type="text/css">
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #24c0cd;
        overflow-x: hidden;
        transition: 0.5s;
        text-align: left;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: #17a0a8;
            }

            .sidenav a.active {
                background-color: #17a0a8;
            }

        .sidenav .closebtn {
            font-size: 26px;
            padding-left: 8px;
            color: white;
            background-color: grey;
            height: 60px;
            margin-bottom: 12px;
            text-align: center;
            padding-top: 10px;
            vertical-align: central;
        }

    .nomeImg {
        text-align: center;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    .fas, .far {
        padding-right: 12px;
        width: 35px;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
    }
</style>

<div class="text-center">
    <div id="options" class="sidenav">
        <div class="closebtn">
            <span>
                <i class="fas fa-cloud"></i>Nuvem Pessoal
            </span>
        </div>
        <a href="#" class="active" id="I"><i class="far fa-images"></i>Fotos</a>
        <a href="#" id="V"><i class="fas fa-video"></i>Vídeos</a>
        <a href="#" id="M"><i class="fas fa-music"></i>Músicas</a>
        <a href="#" id="D"><i class="fas fa-file-word"></i>Documentos</a>
    </div>


    <div class="row mt-2">

        <div class="col col-11">
            <form method="post" enctype="multipart/form-data" id="formArquivo" asp-controller="Home" asp-action="UploadFile">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" title="Escolher" name="files">
                    <label class="custom-file-label" for="customFile">Nenhum arquivo selecionado</label>
                </div>

            </form>
        </div>

        <div class="col col-1">
            <input type="button" onclick="$('#formArquivo').submit()" class="btn btn-primary" value="Enviar" />
        </div>

    </div>

    <div class="row mt-4" id="divFiles">

    </div>
</div>

<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $("#options a").click(function () {
        $("#options a").removeClass("active")
        $(this).addClass("active")
        BuscaArquivos();
    })

    function BuscaArquivos() {

        $("#divFiles").html("");

        $.get({
            url: "/Home/ListFiles/",
            data: { tipo: $("a.active").prop("id") },
            success: function (files) {
                for (i in files) {
                    if ($("a.active").prop("id") == "I") {
                        $("#divFiles").append(

                            $("<div>")
                                .addClass("col col-sm-3")
                                .append(
                                    $("<div>")
                                        .addClass("row")
                                        .append(
                                            $("<div>").append(
                                                $("<div>").append(
                                                    $("<img>").prop("src", files[i]).attr("height", "120")
                                                ).addClass("col col-12")
                                            )
                                        )
                                )
                                .append(
                                    $("<div>").append(
                                        $("<span>").html(files[i].replace("/files/image/", ""))
                                    ).addClass("row col-12 nomeImg")
                                )
                        )
                    }
                    else if ($("a.active").prop("id") == "V") {

                        $("#divFiles").append(

                            $("<div>")
                                .addClass("col col-sm-3")
                                .append(
                                    $("<div>")
                                        .addClass("row")
                                        .append(
                                            $("<div>").append(
                                                $("<div>").append(
                                                    $("<video>").prop("src", files[i]).attr("height", "120")
                                                ).addClass("col col-12")
                                            )
                                        )
                                )
                                .append(
                                    $("<div>").append(
                                        $("<span>").html(files[i].replace("/files/video/", ""))
                                    ).addClass("row col-12 nomeImg")
                                )
                        )
                    }
                    else if ($("a.active").prop("id") == "D") {

                        $("#divFiles").append(

                            $("<div>")
                                .addClass("col col-sm-3")
                                .append(
                                    $("<div>")
                                        .addClass("row")
                                        .append(
                                            $("<div>").append(
                                                $("<div>").append(
                                                    $("<i>").addClass("fas fa-file-word").css("font-size", "42px")
                                                ).addClass("col col-12").css("text-align", "center").css("width", "155px")
                                            )
                                        )
                                )
                                .append(
                                    $("<div>").append(
                                        $("<span>").html(files[i].replace("/files/document/", ""))
                                    ).addClass("row col-12 nomeImg")
                                )
                        )
                    }
                    else if ($("a.active").prop("id") == "M") {

                        $("#divFiles").append(

                            $("<div>")
                                .addClass("col col-sm-3")
                                .append(
                                    $("<div>")
                                        .addClass("row")
                                        .append(
                                            $("<div>").append(
                                                $("<div>").append(
                                                    $("<audio>").append(
                                                        $("<source>").prop("src", files[i]).prop("type", "audio/mpeg")
                                                    ).prop("controls", "true")
                                                ).addClass("col col-12")
                                            )
                                        )
                                )
                                .append(
                                    $("<div>").append(
                                        $("<span>").html(files[i].replace("/files/music/", ""))
                                    ).addClass("row col-12 nomeImg")
                                )
                        )

                    }
                }

            }
        })
    }

    BuscaArquivos();

</script>